
<div class="container my-5" id="record-block">
  <div class="container my-3" id="record-amount"> 
    <h1 class="text-center">總花費: <span style="color:pink">{{totalAmount}} </span></h1>
  </div>

  <div class="container my-3" id="record-filter">
    <form action="/filter" method="GET">
      <select class="form-select" aria-label="Default select example" onchange="this.form.submit()" name="category">
        <option disabled selected>請選擇篩選項目</option>
        <option value="family" {{#is categorySelected 'family'}} selected {{/is}} >家居業務</option>
        <option value="travel" {{#is categorySelected 'travel'}} selected {{/is}} >交通出行</option>
        <option value="entertainment" {{#is categorySelected 'entertainment'}} selected {{/is}} >休閒娛樂</option>
        <option value="food" {{#is categorySelected 'food'}} selected {{/is}} >餐飲食品</option>
        <option value="other" {{#is categorySelected 'other'}} selected {{/is}} >其他</option>
      </select>
    </form>
  </div>

  <div class="container my-3">
    <ul class="list-group" id="record-list">
      {{#each records}}
      <li class="list-group-item records">
        <div class="container d-flex align-items-center justify-content-between">
          <div class="record-detail d-flex align-items-center">
            <div class="record-img mx-3">
              <i class="{{this.categoryImage}} fa-lg" ></i>
            </div>
            <div class="record-text mx-3">
              <p class="my-1">{{this.name}}</p>
              <p class="my-1" style="font-size: 0.6rem;">{{this.date}}</p>
            </div>
          </div>
          <div class="record-amount ms-auto mx-3">
            {{this.amount}}
          </div>
          <div class="record-edit d-flex">
            <a href="/records/{{this._id}}/edit" class="btn btn-warning mx-1">編輯</a>
            <form action="/records/{{this._id}}?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger mx-1">刪除</button>
            </form>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="container d-flex justify-content-center">
    <a href="/records/new" class="btn btn-primary btn-lg" id="create-new-button">
      <h3 class="m-auto">
        新增消費 
      </h3>
    </a>
  </div>
</div>






